* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  scrollbar-width: thin;
}

body {
  background-color: #FFFDF6;
  background-size: 20px 20px;
}
p{
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
  color:rgb(61, 61, 61);
}
.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
}

.navbar {
  width: 100%;
  padding: 10px 20px;              
  display: flex;
  justify-content: space-between;   
  align-items: center;               
  border-bottom: 1px solid #d1d0d0; 
  position: sticky;                  
  top: 0;
  z-index: 1000;                    
}
h1 {
  font-family: 'Patrick Hand', cursive;
  font-weight: 400;
  color: #3b3e44;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #4B5563;

}
.add-note {
  padding: 8px 16px;        
  border-radius: 25px;
  border: none; 
  background-color: #F59E0B;
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;                   
  font-size: 1rem;
  font-weight: 500;
  transition: background 0.2s;
}

.add-note:hover {
  background-color: #D97706;  
}

.logo{
  display: flex;
  align-items: center;
  justify-items: center;
}
